<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
<center>
<div class="card text-center" style="width:900px;border-radius:30px;">
  <div class="card-header">
   <strong><%= post.user.fullname %>s'Post</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= image_tag post.image.url, class:"upload" %></h5>
    <strong>Content</strong><p class="card-text"><%= post.content %></p>
    <strong>UserName</strong><p class="card-text"><%= post.user.fullname %></p>
    <% if logged_in? %>
    <% if current_user.id == post.user_id%>
    <%= link_to 'Show', post, class:"btn btn-success" %>
    <%= link_to 'Edit', edit_post_path(post), class:"btn btn-primary" %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
    <% end %>
    <% end %>
  </div>
</div><br>
<% end %>
<%= link_to 'New Post', new_post_path, class:"btn btn-warning" %>
<br>
</center>
